* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
}

/* Navbar design */

.navbar {
    background-color: #F5F5F6;;
    height: 5vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-list>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar>img {
    height: 2.5vw;
}

.navbar-list>ul>li {
    padding: 1vw;
    font-size: 2vw;
}

.navbar-list>ul>li:last-child {
    padding-right: 7vw;
}

.navbar-list>ul>li:hover {
    color: rgb(163, 163, 163);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.navbar-list>button {
    background-color: white;
    border: none;
    color: black;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 0.5vw;
    margin-right: 4vw;
}

.navbar-list>button:hover {
    cursor: pointer;
    background-color: rgb(253, 253, 253);
    transition: 0.1s ease-in;
    color: rgb(163, 163, 163);
}


/* navbar end */

/* Application name design */

.name {
    margin-top: 5vw;
    font-size: 2vw;
    margin-bottom: 3vw;
    padding-left: 11vw;
}

.converter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.convertFrom, .convertTo {
    /* border: 0.1vw gray solid; */
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    padding: 1vw;
    width: 35vw;
}

.ihave, .wantTo {
    /* border: 0.1vw green solid; */
    font-size: 1.5vw;
    color: gray;
}

.rub, .usd, .eur, .gbp {
    border: 0.14vw rgb(191, 191, 191) solid;
    width: 30%;
    text-align: center;
    font-size: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: rgb(163, 163, 163);
}

.rub, .usd, .eur {
    border-right: none;
}

.exc:hover {
    background-color: #833AE0;
    color: white;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.rub {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
}

.gbp {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.result {
    border: 0.14vw rgb(191, 191, 191) solid;
    padding: 1vw;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    padding-top: 2vw;
}

.resultNumber>input {
    font-size: 6vw;
    width: 100%;
    border: none;
    padding-bottom: 1vw;
}

.resultNumber>input:disabled {
    background-color: white;
    color: black;
}

.resultNumber>input:focus {
    outline: none;
}


.resultInfo {
    font-size: 1vw;
    padding-top: 1.5vw;
    color: rgb(163, 163, 163);
}

.exchanges {
    display: flex;
    flex-direction: row;
    padding: 1vw 0 3vw 0;
}


/* convert button design */

.convert-button>button {
    background-color: rgb(243, 240, 240);
    border: none;
    color: black;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6vw;
    border-radius: 0.5vw;
}

.convert-button>button:hover {
    background-color: rgb(237, 235, 235);
    cursor: pointer;
    color: rgb(163, 163, 163);
}

/* media queries */

@media screen and (max-width: 400px) {

    /* navbar design */

    /* navbar end */

    .name {
        font-size: 2.5vw;
    }

    .ihave, .wantTo {
        font-size: 3vw;
        padding-bottom: 1vw;
    }

    /* converter responsive design */
    .converter {
        flex-direction: column;
    }

    .convertFrom, .convertTo {
        padding: 1vw;
        width: 80vw;
    }

    .convertFrom {
        /* padding-bottom: 4vw; */
    }

    .result {
        padding: 2vw;
        height: 20vw;
    }

    .resultInfo {
        font-size: 2vw;
        padding-top: 5vw;
        color: rgb(163, 163, 163);
    }

    .rub, .usd, .eur, .gbp {
        font-size: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .resultNumber>input {
        font-size: 7vw;
    }

    /* converter end */

    /* button dsign */

    .convert-button {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }


}